<!-- sirph wahi chize rkhni h jo hmne layout.ejs file se delete kri thi, kyuki baaki ki chize hme layout.ejs file se mill jayegi. -->


<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>


<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">

        <!-- neeche wala part hme repeat krna h. -->
        <!-- array hai isliye forEach loop lagega, ab forEach loop hme function provide krta h toh uske andr function aayega. function ke andr current iteration jo h vo hmme recieve ho jayega. -->
        <% pizzass.forEach(function(pizzas) { %>
            <div class="w-full md:w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%= pizzas.image %>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">
                        <%= pizzas.name %>
                    </h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">
                        <%= pizzas.size %>
                    </span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹ <%= pizzas.price %></span>

                        <!-- data attribute ko hmm set karenge aur get karenge client(app.js) ke andr js ki help se... pizzas jo value provide kiya h data-pizza ko vo object h aur objects ko ase bind nhi kr sakte, isko hmee json string mai convert krna padega aur client ke andr vpas se json string se object mai change krenge.  -->
                        <!-- ejs ke tag open krke hmm uske andr js ko add krna h . -->
                        <button data-pizza="<%= JSON.stringify(pizzas) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>

                        </button>
                    </div>
                </div>
            </div>
            <% }) %>


    </div>
</section>
<!-- Footer -->
<footer class="footer">
    <!-- Grid container -->
    <div class="container p-4">
        <div class="container-fluid">
            <a class="navbar-brand2" href="/">
                <img src="/img/logo.png" alt="Logo" width="37" height="26" class="d-inline-block align-text-top">
                Doughlicious Pizza Palette
            </a>
        </div>
        <br>
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="footer-links row">
                <!--Grid column-->
                <div class="footer-link col-lg-2 col-md-6 mb-4 mb-md-0">
                    <ul class="footer-list list-unstyled mb-0 px-5">
                        <li>
                            <a href="#!"
                                class="footer-link link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Disclaimer
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">


                    <ul class="footer-list list-unstyled mb-0 ">
                        <li>
                            <a href="#!"
                                class="footer-link link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Terms
                                & Conditions
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">


                    <ul class="footer-list list-unstyled mb-0 px-4">
                        <li>
                            <a href="#!"
                                class="footer-link link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Privacy
                                Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">


                    <ul class="footer-list list-unstyled mb-0">
                        <li>
                            <a href="#!"
                                class="footer-link link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Nutritional
                                Information
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">


                    <ul class="footer-list list-unstyled mb-0 px-5">
                        <li>
                            <a href="#!"
                                class="footer-link link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Feedback
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- <hr> -->
    <!-- Copyright -->
    <div class="Copyright text-center p-3">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Titiksha Gupta</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->